{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Моя корзина</h2>

{% if cart_items %}

<table class="table table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>

        {% for item in cart_items %}
        <tr>

            <td>{{ item.product.name }}</td>

            <td>{{ item.product.price }} ₽</td>

            <td>
                <form method="post"
                      action="{% url 'update_cart' item.id %}"
                      class="d-flex">
                    {% csrf_token %}
                    <input type="number"
                           name="quantity"
                           value="{{ item.quantity }}"
                           min="1"
                           max="{{ item.product.quantity }}"
                           class="form-control me-2"
                           style="width:100px;">
                    <button type="submit"
                            class="btn btn-primary btn-sm">
                        OK
                    </button>
                </form>
            </td>

            <td>
                {{ item.item_total_price }} ₽
            </td>

            <td>
                <form method="post"
                      action="{% url 'remove_from_cart' item.id %}">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-danger btn-sm">
                        ✖
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="text-end">
    <h4>Общая стоимость: 
        <span class="text-success">
            {{ total_price }} ₽
        </span>
    </h4>
</div>

<div class="mt-3">
    <a href="{% url 'product_list' %}"
       class="btn btn-secondary">
        ← Продолжить покупки
    </a>

    <a href="{% url 'checkout' %}"
       class="btn btn-success">
        ✅ Оформить заказ
    </a>
</div>


{% else %}
    <div class="alert alert-info">
        Ваша корзина пуста.
    </div>

    <a href="{% url 'product_list' %}"
       class="btn btn-primary">
        Перейти к покупкам
    </a>
{% endif %}

{% endblock %}